
html {
  font-size: 16px;
  font-family: 'Crimson Text', serif;
}
  @keyframes colorchange
  {
    0%    {background: #4725B5;}
    25%   {background: #6245BF;}
    50%  {background: #883CBB;}
    75%  {background: #B733B7;}
    100%  {background: #DC3D8B;}
  }
  @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
  {
    0%    {background: #4725B5;}
    25%   {background: #6245BF;}
    50%  {background: #883CBB;}
    75%  {background: #B733B7;}
    100%  {background: #DC3D8B;}
  }

header {
  height: 4rem;
  align-items: center;
  background-color: white;

}
div {
  display: block;
}

body {
  margin: 0;

}

h1 {
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Julius Sans One', sans-serif;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Julius Sans One', sans-serif;
}


.logo.container {
  align-items: center;
}
.logo {
  height: 32px;
  display: flex;
  align-items: center;
  position: relative;


}

.logo img {
    align-items: center;
    padding-left: 1.5rem;
}

.logo h2 {
  float: right;
  align-items: center;

}

.options {
  margin-right: 24px;
  display: inline-flex;
  align-items: center;

}

.options li {
  position: relative;
  padding: 0 8px;

}

.banner {
  background-color: #DC3D8B;

        animation: colorchange 5s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 30s; /* Chrome and Safari */
font-family: 'Julius Sans One', sans-serif;
}
.banner img {
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hidden-menu {
  display: none;
}
.bannerimage {
  max-width: 60%
}

.banner-image {
  padding: 2rem 1.5rem;



}
.ban-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;


}

.banner-text {
  max-width: 25%;
  padding: 1.5rem;

}


.banner-text h1 {
  font-weight: bold;
  font-size: 3.5rem;
  color: white;


}
.banner-text h2 {
  font-weight: bold;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: white;

}
.banner-text h3 {
  color: white;
  background-color: black;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  margin-right: 0;
  text-align: center;
  font-weight: bold;
}

.banner.container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.main {
  display: flex;
  flex-direction: row;
  background-color:#D5D8DB;
  }

.main-image {
  padding: 2rem 1.5rem;
}

.main-image img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1rem;
}

.image-text {
  max-width: 60%;
}

.main-text {

  padding: 0 1.5rem 2rem;
}

.main-text h1{
  padding-bottom: 1.5rem;
}

.main-text h2 {
  line-height: 1.5rem;
}
.main-text h3 {
  font-size: 0.75rem;
  padding-top: 2rem;
}
.main-info{
  position: relative;
  float: right;
  max-width: 40%;
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.event:hover  {
  background-color: #1F79FF;
  color: white;
}
.read-more:hover{
  color:white;
}

.event.orientation {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  transition-property: background-color;
  transition-duration: 2s;
  margin-bottom:1rem;

}

.event img {
  display: block;
  width: 35%;
  height: 100%;
}

.event.campus {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  transition-property: background-color;
  transition-duration: 2s;
}

.event.lecture {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  transition-property: background-color;
  transition-duration: 2s;

}

.caption {
  position: relative;
  float: right;
  display: flex;
  width: 65%;
  padding-left: 1.5rem;
  width: 100%;
  flex-direction: column;
  transition-property: color;
  transition-duration: 2s;
}

.title {
  font-weight: bold;
  display: inline-flex;
  padding-bottom: .5rem;
  font-size: 1.5rem;
  font-family: 'Julius Sans One', sans-serif;
}

.details {
  line-height: 1.5rem;
  padding-bottom: .5rem;
}
.read-more {
  color: blue;
  transition-property: color;
  transition-duration: 2s;
}


.catalog{
  background-image: url("../media/images/gradient.jpg.png");
}

.courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    padding-bottom: 2rem;

  }
.catalog-text{
    width: 100%;
    padding: 2rem 0rem;
}
.catalog-text h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    color: white;
}
.course-caption {
    position: relative;
    float: bottom;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem 0rem;
    background-color: white;
    height: 10rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item{
    flex-grow: 1;
    flex-shrink: 1;
    overflow: scroll;
    width: 30%;
    padding: 1rem;

}

.image img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.label {
  font-weight: bold;
  padding-bottom: 1rem;
  padding-left: 2rem;
  font-size: 1.5rem;
  font-family: 'Julius Sans One', sans-serif;

}
.type {
padding: .5rem 2rem;
font-family: 'Julius Sans One', sans-serif;
}

.more {
padding: .5rem 2rem;
line-height: 1.5rem;
}

.thesis {
  background-color: #D5D8DB;
}

.thesis.container {
  display: flex;
  flex-direction: row;
}

.thesis-text{
  width: 100%;
  padding: 2rem 0rem;
}

.thesis-text h1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
}

.video{
  padding: 2rem 1.5rem;
}

.video video {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1rem;
}

.thesis-content {
  max-width: 60%;
}

.video-text {

  padding: 0 1.5rem 2rem;
}

.video-text h1{
  padding-bottom: 1.5rem;
}

.video-text h2 {
  line-height: 1.5rem;
}

.thesis-info{
  position: relative;
  float: right;
  max-width: 40%;
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.event.fisma {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  transition-property: background-color;
  transition-duration: 2s;

}

.event img {
  display: block;
  width: 35%;
  height: 100%;
}

.event.now {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  transition-property: background-color;
  transition-duration: 2s;
}

.links {
  margin-right: 24px;
  display: inline-flex;
  align-items: center;

}

.links li {
  position: relative;
  padding: 0 8px;
  font-size: .75rem;

}
.footer.container h3 {
  font-size: .75rem;
}
footer {
  background-color: white;
}

@media only screen and (max-width: 1000px)
{

  .header {
    display: none;
  }
  .options-top {
    display: none;
  }
  .hidden-menu {
    justify-content: center;
    width: 100%;
    height: 4rem;
    display: flex;
  }

  .banner {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
  }


  .banner.container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.banner-text h1 {
  font-size: 2rem;
}
.banner-text h2 {
  font-size: 1rem;
}


  .image-text {
    display: none;
  .event{
    display: flex;
    flex-direction: column;
  }

  .event.fisma {
    display: none;
  }
  .event.now{
    display:none;
  }
.description.container{
  display: none;
}


}
