html {
  font-family: Helvetica;
  font-size: 16px;

}
header {
  height: 4rem;
  align-items: center;
}
div {
  display: block;
}

body {
  margin: 0;
}
h1 {
  font-weight: bold;
  font-size: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

}
.logo.container {
  align-items: center;
}
.logo {
  height: 32px;
  margin-left: 24px;
  display: flex;
  align-items: center;
  position: relative;


}

.logo img {
    align-items: center;
}

.logo h2 {
  float: right;
  align-items: center;

}

.options {
  margin-right: 24px;
  display: inline-flex;
  align-items: center;

}

.options li {
  position: relative;
  padding: 0 8px;

}

.banner {
  background-color: lightgray;

}
.banner img {
  width:100%;
}

.hidden-menu {
  display: none;
}
.bannerimage {
  max-width: 60%
}

.banner-image {
  padding: 2rem 1.5rem;



}
.ban-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;


}

.banner-text {
  max-width: 25%;
  padding: 1.5rem;

}


.banner-text h1 {
  font-weight: bold;
  font-size: 2.5rem;

}
.banner-text h2 {
  font-weight: bold;
  margin-top: 1.5rem;
  font-size: 1.5rem;

}
.banner-text h3 {
  color: white;
  background-color: black;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1.5rem;
  margin-right: 0;
  text-align: center;
}

.banner.container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.main-image {
  padding: 2rem 1.5rem;
}

.main-image img {
  width: 100%;
}

.image-text {
  max-width: 60%;
}

.main-text {

  padding: 0 1.5rem 2rem;
}

.main-text h1{
  padding-bottom: 1.5rem;
}

.main-text h2 {
  line-height: 1.5rem;
}
.main-text h3 {
  font-size: 0.75rem;
  padding-top: 2rem;
}
.main-info{
  position: relative;
  float: right;
  max-width: 40%;
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.event.orientation {
  display: inline-flex;
  align-items: center;
  padding: 0rem 1rem 1rem 1rem;

}

.event img {
  display: block;
  width: 35%;
  height: 100%;
}

.event.campus {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
}

.event.lecture {
  display: inline-flex;
  align-items: center;
  background-color: lightgray;
  padding: 1rem;
}

.caption {
  position: relative;
  float: right;
  display: flex;
  width: 65%;
  padding-left: 1.5rem;
  width: 100%;
  flex-direction: column;
}

.title {
  font-weight: bold;
  display: inline-flex;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}

.details {
  line-height: 1.5rem;
  padding-bottom: .5rem;
}
.read-more {
  color: blue;
}
.main {
  display: flex;
  flex-direction: row;
  }

.catalog{
  background-color: lightgray;
}

.courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    padding-bottom: 2rem;
  }
.catalog-text{
    width: 100%;
    padding: 2rem 0rem;
}
.catalog-text h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.course-caption {
    position: relative;
    float: bottom;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem 0rem;
    background-color: white;
    height: 10rem;
}
.item{
    flex-grow: 1;
    flex-shrink: 1;
    overflow: scroll;
    width: 30%;
    padding: 1rem;
}

.image img {
  width: 100%;
}
.label {
  font-weight: bold;
  padding-bottom: 1rem;
  padding-left: 2rem;
  font-size: 1.5rem;

}
.type {
padding: .5rem 2rem;
}

.more {
padding: .5rem 2rem;
line-height: 1.5rem;
}

.thesis {
  background-color: white;
}

.thesis.container {
  display: flex;
  flex-direction: row;
}

.thesis-text{
  width: 100%;
  padding: 2rem 0rem;
}

.thesis-text h1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video{
  padding: 2rem 1.5rem;
}

.video video {
  width: 100%;
}

.thesis-content {
  max-width: 60%;
}

.video-text {

  padding: 0 1.5rem 2rem;
}

.video-text h1{
  padding-bottom: 1.5rem;
}

.video-text h2 {
  line-height: 1.5rem;
}

.thesis-info{
  position: relative;
  float: right;
  max-width: 40%;
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.event.fisma {
  display: inline-flex;
  align-items: center;
  padding: 0rem 1rem 1rem 1rem;

}

.event img {
  display: block;
  width: 35%;
  height: 100%;
}

.event.now {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
}

.links {
  margin-right: 24px;
  display: inline-flex;
  align-items: center;

}

.links li {
  position: relative;
  padding: 0 8px;
  font-size: .75rem;

}
.footer.container h3 {
  font-size: .75rem;
}
